@import 'components/variables';
@import 'components/reset';
@import 'components/loader';
@import 'components/flickity';

html,
body,
.App {
	font-family: -apple-system, BlinkMacSystemFont, “Segoe UI”, Roboto, Helvetica, Arial, sans-serif;
	height: 100%;
	width: 100%;
	position: relative;
}

.App {
	@include center;
	background: url('blur.jpg') no-repeat center;
	background-size: cover;
	position: relative;
	height: 100%;
	width: 100%;
	overflow: hidden;
}

@import 'components/login/login';
@import 'components/header/header';
@import 'components/dashboard/dashboard';





