@import 'components/variables';
@import 'components/reset';
// @import 'components/flickity';

html,
body,
.App {
	font-family: -apple-system, BlinkMacSystemFont, “Segoe UI”, Roboto, Helvetica, Arial, sans-serif;
	height: 100%;
	width: 100%;
	position: relative;
}

body{
	// transform-style: preserve-3d; 
	@media #{$mq-1150}{
		perspective: 1000px;
	}
}

.App {
	@include center;
	background: url('blur.jpg') no-repeat center;
	background-size: cover;
	position: relative;
	height: 100%;
	width: 100%;
	overflow-y: hidden;
	-webkit-overflow-scrolling: touch;
	// transform-style: preserve-3d;
	// perspective: 1000px;
	@media #{$mq-1350} {
		perspective: 1000px;
	}
	&::after {
		content: "";
		height: 100%;
		width: 100%;
		position: absolute;
		top: 0;
		left: 0;
		transition-duration: 0.3s;
		background: rgba(#000, 0.15);
		z-index: -1;
		// @media #{$mq-800} {
		// 	width: 240%;
		// }
		// @media #{$mq-957}{
		// 	width: 180%;
		// }
		// @media #{$mq-1150} {
		// 	width: 150%;
		// }
		// @media #{$mq-1350} {
		// 	width: 100%;
		// }
	}
}

@import 'components/login/login';
@import 'components/header/header';
@import 'components/dashboard/dashboard';





