.header {
	position: fixed;
	bottom: 0;
	left: 0;
	z-index: 10;
	height: 50px;
	width: 100%;
	@include center;
	background: rgba(#fff, 0.05);
	@media #{$mq-670} {
		top: 0;
		bottom: initial;
	}
	&>div {
		@include center;
		width: 100%;
		height: 100%;
		flex-direction: row;
		&>h1 {
			@include center;
			height: 100%;
			width: calc(100% - 180px);
			color: #fff;
			font-weight: 200;
			font-size: 2em;
			border-right: 1px solid rgba(#E9EDED, 0.15);
		}
		&>button {
			width: 90px;
			height: 100%;
			border: none;
			outline: none;
			background: transparent;
			position: relative;
			border-right: 1px solid rgba(#E9EDED, 0.15);
			color:#fff;
			font-weight: 200;
			font-size: 1.25em;
			&>svg {
				height: 65%;
				width: 65%;
			}
		}
		&>button:last-of-type{
			border-right: none;
			&>svg {
				height: 60%;
				width: 60%;
			}
		}
	}
}