.header {
	position: fixed;
	bottom: 0;
	left: 0;
	z-index: 10;
	height: 50px;
	width: 100%;
	@include center;
	background: rgba(#fff, 0.05);
	@media #{$mq-670} {
		top: 0;
		bottom: initial;
	}
	&>div {
		@include center;
		width: 100%;
		height: 100%;
		flex-direction: row;
		&>h1 {
			@include center;
			height: 100%;
			width: calc(100% - 190px);
			color: #fff;
			font-weight: 200;
			font-size: 1.75em;
			border-right: 1px solid rgba(#E9EDED, 0.15);
			@media #{$mq-375} {
				font-size: 2em;
			}
		}
		&>button {
			width: 70px;
			height: 100%;
			border: none;
			outline: none;
			background: transparent;
			position: relative;
			border-right: 1px solid rgba(#E9EDED, 0.15);
			color:#fff;
			font-weight: 200;
			font-size: 1.25em;
			&>svg {
				height: 32.5px;
				width: 32.5px;
			}
		}
		&>button:last-of-type{
			border-right: none;
			&>svg {
				height: 30px;
				width: 30px;
			}
		}
		&>.gear {
			width: 50px;
			overflow: hidden;
			&>svg {
				position: absolute;
				top: calc(50% - 13.75px);
				left: calc(50% - 13.75px);
				height: 27.5px;
				width: 27.5px;
				transition-duration: 0.2s;
			}
			&>svg:last-of-type {
				transform: translateX(150%);
				height: 25px;
				width: 25px;
				top: calc(50% - 12.5px);
				left: calc(50% - 12.5px);
			}
		}
		&>.gear-hide {
			&>svg:first-of-type {
				transform: translateY(150%);
			}
			&>svg:last-of-type {
				transform: translateX(0%);
			}
		}
	}
}