.dashboard{
	height: calc(100% - 50px);
	width: 100%;
	@include center;
	align-self: flex-start;
	@media #{$mq-670}{
		align-self: flex-end;
	}
	&>div {
		@include center;
		justify-content: flex-start;
		flex-direction: column;
		height: 100%;
		width: 100%;
		position: relative;
		&>.dates{
			@include center;
			width: 100%;
			height: 50px;
			&>div {
				width: 97.5%;
				@include center;
				justify-content: space-between;
				color: #fff;
				font-size: 0.9em;
				@media #{$mq-670} {
					font-size: 1em;
				}
				@media #{$mq-800} {
					width: 90%;
				}
				@media #{$mq-1070} {
					width: 70%;
				}
				&>button{
					height: 25px;
					width: 25px;
					border: none;
					outline: none;
					background: url('left.svg') no-repeat center;
					background-size: contain;
					opacity: 0.5;
				}
				&>button:last-of-type {
					background: url('right.svg') no-repeat center;
					background-size: contain;
				}
			}
		}
		&>.individual-view{
			width: 100%;
			height: calc(100% - 50px);
			@include center;
			position: absolute;
			bottom: 0;
			left: 0;
			transform: translateX(100%);
			transition-duration: 0.4s;
			transition-timing-function: ease;
			&>div {
				@include center;
				height: 100%;
				width: 100%;
				flex-direction: row;
				justify-content: flex-start;
				&>.weekdays{
					height: 100%;
					@include center;
					justify-content: space-between;
					flex-direction: column;
					&>div {
						height: 14.2857%;
						width: 55px;
						@include center;
						border-bottom: 1px solid rgba(#fff, 0.15);
						@media #{$mq-670} {
							width: 120px;
						}
						&::after{
							content: attr(data-sm);
							color: #fff;
							text-transform: uppercase;
							font-weight: 200;
							@media #{$mq-670} {
								content: attr(data-lg);
							}
						}
					}
				}
				&>.individual-shifts{
					height: 100%;
					width: calc(100% - 65px);
					@include center;
					flex-direction: column;
					@media #{$mq-670} {
						width: calc(100% - 130px);
					}
					&>div {
						width: 100%;
						height: 14.2857%;
						position: relative;
						@include center;
						&::before {
							content: "";
							position: absolute;
							bottom: 0;
							right: -10px;
							height: 1px;
							width: 10px;
							background: rgba(#fff, 0.15);
						}
						&::after {
							content: "";
							position: absolute;
							bottom: 0;
							left: 0;
							height: 1px;
							width: 100%;
							background: rgba(#fff, 0.15);
						}
						&>.shift{
							position: absolute;
							left: 0;
							top: 15%;
							height: 65%;
							@include center;
							color: #fff;
							font-weight: 200;
							transform: scaleX(0);
							transform-origin: 0% 50%;
							font-size: 1em;
							border-radius: 100px;
							transition: transform 0.4s 0s, box-shadow 0.3s 0.4s;
						}
						&>.shift-show {
							transform: scaleX(1);
							@include headerShadow;
						}
					}
				}
			}
		}
		&>.individual-view-show {
			transform: translateX(0%);
		}
		&>.team-view {
			width: 100%;
			max-width: 100%;
			height: calc(100% - 50px);
			@include center;
			transform: translateX(-100%);
			transition-duration: 0.4s;
			transition-timing-function: ease;
			&>div {
				@include center;
				height: 100%;
				width: 100%;
				max-width: 100%;
				flex-direction: row;
				justify-content: flex-end;
				&>.clock-thing{
					height: 27.5px;
					width: 37.5px;
					background: rgba(#000, 0.5) url('clock.svg') no-repeat center;
					background-size: 22.5px 22.5px;;
					position: fixed;
					top: 0;
					left: 0;
					border-top-right-radius: 5px;
				}
				&>.biz-times {
					position: fixed;
					bottom: 0;
					left: 0;
					z-index: 1324423;
					color: #fff;
					background: rgba(#000, 0.5);
					font-weight: 200;
					font-size: 0.9em;
					@include center;
					flex-direction: column;
					justify-content: flex-start;
					width: 37.5px;
					height: calc(100% - 27.5px);
					border-bottom-right-radius: 5px;
					&>div {
						position: relative;
						width: 100%;
						&::after {
							content: "";
							position: absolute;
							top: 0;
							height: 1px;
							width: 100%;
							background: rgba(#fff, 0.35);
						}
						&>div {
							text-align: center;
						}
					}
					&>div:first-of-type::after {
						display: none;
					}
				}
				&>.team-days{
					height: 100%;
					width: 100%;
					max-width: 100%;
					@include center;
					outline: none;
					& .flickity-viewport,
					& .flickity-slider {
						height: 100%;
						width: 100%;
					}
					& .team-day{
						height: 100%;
						width: 100%;
						max-width: 100%;
						@include center;
						flex-direction: column;
						justify-content: flex-start;
						&>h2 {
							margin: 0;
							margin-bottom: 10px;
							color: #fff;
							font-size: 1em;
							text-transform: uppercase;
							font-weight: 900;
						}
						&>.bar-container {
							height: calc(100% - 10px);
							width: calc(100% - 27.5px);
							position: relative;
							overflow: hidden;
							align-self: flex-end;
							@media #{$mq-957} {
								width: 70%;
								align-self: center;
							}
							@media #{$mq-1070} {
								width: 60%;
								align-self: center;
							}
							@media #{$mq-1350} {
								width: 50%;
								align-self: center;
							}
							&>.team-shift {
								color: #fff;
								border-radius: 100px;
								max-width: 100px;
								position: absolute;
								@include center;
								justify-content: space-between;
								flex-direction: column;
								overflow: hidden;
								@include headerShadow;
								&>p {
									transform: rotate(90deg);
									font-size: 0.9em;
									@media #{$mq-957} {
										transform: rotate(0deg);
									}
								}
								&>p:first-of-type {
									margin-top: 20px;
									@media #{$mq-670}{
										margin-top: 30%;	
									}
								}
								&>p:last-of-type {
									margin-bottom: 20px;
									@media #{$mq-670}{
										margin-bottom: 30%;	
									}
								}
							}
						}
					}
				}
			}
		}
		&>.team-view-show{
			transform: translateX(0%);
		}
	}
}

.flickity-prev-next-button{
	display: none;
	@media #{$mq-957} {
		display: initial;
		top: calc(50% - 10px);
		@include headerShadow;
	}
}

.flickity-prev-next-button.previous {
	left: 50px;
}
.flickity-prev-next-button.next {
	right: 50px;
}

.flickity-page-dots {
	display: none;
}